
body {margin: 0px;}

mark {
    font-style: normal;
}

.profil {
    border-radius: 10%;
    width: 2.7em;
    height: auto;
    float: center;
    vertical-align: middle;
    padding-right: 1%;
}

h1{
    font-size: 2.2em;
    margin-top: 8%;
    text-align: center;
    cursor: default;
}

h2{
    clear: both;
    cursor: default;
    /*background-color: rgb(87, 106, 117);*/
    font-size: 1.5em;
    text-align: center;
    padding-top: 40px;
    margin-left: 5%;
    font-family: 'Lucida console', 'Courier New', 'Monaco', 'serif';
}

p {
    padding-top: 2%;
    text-align: center;
    cursor: default;
}

.p1 {
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1.2em;
    text-align: justify;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    font-size: 1.1em;
    font-family: 'Lucida console', 'Courier New', 'Monaco', 'serif';
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}